$parts: ('h1', 'form', 'h3');

@mixin margin-horisontal {
    margin: 1em 0 auto;

    &:first-child {
        margin-top: 0;
    }
}

@import 'components/calendar/vars';

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: Geneva, Verdana, Tahoma, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: 640px) {
        font-size: 2.4vw;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
.bar {
    @include margin-horisontal;
}

@import 'components/dialog';

.fc {
    height: 100vh;
}

.fc-event-main {
    background-color: inherit;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: .5em;    
}
.fc .fc-toolbar-title {
    font-size: 1em;
    text-align: center;
}

.event {
    margin: 0;
    padding: 0;
    background-color: inherit;
    display: inline;

    .fc-timegrid-event-short & {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 0.51rem;
    }

    &__time,
    &__title {
        margin: 0;
        padding: 0;
    }

    &__time {
        font-size: 1.2rem;
    }

    &__title {
        font-size: 1.6rem;
        display: inline;
        background-color: inherit;
    }
}